# Node dependencies
node_modules/

# Build output
dist/
.vitepress/dist/

# Local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS generated
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional: Mac/Linux swap/backup files
*~
*.swp
*.bak
*.tmp

# Cache
.vite/
.cache/
